language: java

dist: trusty # needs Ubuntu Trusty
# Note: if you switch to sudo: false, you'll need to launch chrome with --no-sandbox.
# See https://github.com/travis-ci/travis-ci/issues/8836
sudo: required
addons:
  chrome: stable # have Travis install chrome stable.
cache:
  yarn: true
  directories: 
    - $HOME/.m2
    - $HOME/.gradle
      