<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.data2viz.viz.sample">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".BounceActivity"
                  android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"
            />
        </activity>
        <activity android:name=".ChordActivity"
                  android:label="Chord Diagram"
                  android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"
            />
        </activity>
        <activity android:name=".EventsActivity"
                  android:label="Events sample"
                  android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"
            />
        </activity>
        <activity android:name=".ForceActivity"
                  android:label="Animated Forces"
                  android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"
            />
        </activity>
        <activity android:name=".GeoActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="Animated World"
        >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"
            />
        </activity>
        <activity android:name=".LineOfSightActivity"
                  android:label="Line of Sight animation"
                  android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"
            />
        </activity>
        <activity android:name=".SankeyActivity"
                  android:label="Sankey diagram"
                  android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"
            />
        </activity>
    </application>

</manifest>